@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

body { background:#222;  }


main {
  display:block;
  position:relative;
  width:30rem;
  margin:3vh auto;
  padding:1.5rem 0 0;
  background:#d5d5d5;
  outline
  border-radius:.25rem;
  overflow:hidden;
  transform:scale(.75);
  transform-origin:center 3rem;
  transition:transform .3s;
}
body:hover main {
  transform:scale(1);
}

header {
  position:absolute;
  z-index:0;
  top:0; left:0; right:0;
  height:10rem;
  transition:transform .5s, opacity .3s;
  background:url(http://www.droid-life.com/wp-content/uploads/2013/01/googlenownewyork.png)  center center;
  background-size:cover;
}

input, .card {
  position:relative;
  z-index:2;
}
input {
  display:block;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

input:focus {
  margin:0 1rem 1rem;
  outline:0;
}

input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
.card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}
.cm{
  width: 150px;
  height: 130px;
  margin-left: 200px;
  margin-top: 100px;

}
.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}

h1 {
  font-size:2rem;
  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:.9rem;
  line-height:2.5;
  color:gray;
  font-weight:400;
}

.picture {
  background:#66666;
  width:200px;
  height: 133px;

}

.search{
  margin-top: 200px;
  margin-left: 400px;
}

.logo {
    margin-left: 50px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.container{
  width: 800px;
}

.container2{
  width: 100%;
}

.container3{
  float: right;
}

.type{
  width: 50px;
  height: 50px;
}

.card1{
  width:50%;
  float: left;
}

.card2{
  width:50%;
  float: right;
}
.pos{
  margin-left: 140px;
}

#images {
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: relative;
  
  margin: 20px auto;
}
#images img {
  width: 400px;
  height: 250px;
  
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  
  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
}
#images img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  text-decoration: none;
  background: #E3F1FA;
  border: 1px solid #C6E4F2;
  padding: 4px 6px;
  color: #222;
}
#slider a:hover {
  background: #C6E4F2;
}

#image {
  width: 600px;
  height: 250px;
}

.footer{
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 350px;
  font-family: 'Covered By Your Grace', cursive, sans-serif;
  color: white;
}